<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2021 Camptocamp SA
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl) -->
<odoo>
    <menuitem
        id="menu_product_medical_class"
        action="medical_class_action"
        parent="sale.prod_config_main"
        sequence="10"
    />
    <menuitem
        id="menu_product_medicine_category"
        action="medicine_category_action"
        parent="sale.prod_config_main"
        sequence="11"
    />
    <menuitem
        id="menu_product_ppe_category"
        action="ppe_category_action"
        parent="sale.prod_config_main"
        sequence="12"
    />
    <menuitem
        id="menu_product_in_vitro_diagnosis"
        action="in_vitro_diagnostic_action"
        parent="sale.prod_config_main"
        sequence="13"
    />
</odoo>
